* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
  background-color: #4d8076;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: bisque;
}

h2 {
  font-size: 5rem;
  text-align: center;
  margin-top: 3vw;
  letter-spacing: 1vh;
}

.container {
  width: 250px;
  height: 300px;
  perspective: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 20%;
}

.card {
    
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  margin: 63%;
}

img {
  width: 250px;
  height: 300px;
  border-radius: 1.5rem;
}

.card:hover {
  cursor: pointer;
  transform: rotateY(180deg);
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.back {
  background-color: rgb(3, 3, 11);
  transform: rotateY(180deg);
  text-align: center;
  gap: 2rem;
}

.socialmedia{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.svg{
    width: 30px;
    height: 30px;
}
.svg:hover{
    transform: scale(1.5);
    filter: invert(1);
}

@media (min-width: 100px) {
    
}
